# minimal dependencies for running the code in this repo
langchain-groq
langchain-community
# for document loaders
langchain-community
python-dotenv
# for PDF parsing
pypdf
langchain-text-splitters
# for vector store and retriever
langchain-huggingface
sentence-transformers
# for chromadb vector store
langchain
langchain-chroma
chromadb
# notebook dependencies
ipython
jupyterlab
# deployment
streamlit
